.footer {
  background: url("../img/footer/footer-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 70vh;
  margin-top: 10vh;
  color: white;

  .content {
    padding-top: 34vh;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    .column {
      padding-bottom: 7vh;
      img {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
      }
      h4 {
        font-family: "Oswald", sans-serif;
        font-size: 1.4rem;
      }
      .links {
        height: 17vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1rem;
        div {
          margin-bottom: 4.8px;
          a {
            color: white;
          }
        }
      }
    }
  }

  .bottom {
    padding-bottom: 4vh;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    p {
      margin-bottom: 0;
      span a {
        color: #f45c74;
        &:hover {
          color: #fdcc92;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .content {
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .links {
    padding-top: 20vh;
  }
}
