$primary: white;

.portfolio {
  margin-top: 11vh;
  min-height: 135vh;
  background: url("../img/portfolio/bg/portfolio-bg.jpg") no-repeat;
  background-size: cover;

  .title {
    padding-top: 27vh;
    h2, h5 {
      color: $primary;
    }
  }

  .colCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cards {
    padding-bottom: 30vh;
    display: flex;
    z-index: 0;
  }
  .card {
    margin-top: 25vh;
    background: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  .card.on {
    margin-top: 15vh;
  }
  .card.mirror {
    position: absolute;
    top: 0;
    width: 92%;
    opacity: 0.75;
    filter: grayscale(33%);
    cursor: default;
  }
  .card.mirror.left {
    left: -364px;
  }
  .card.mirror.right {
    left: 395px;
  }

  .slider {
    display: flex;
    justify-content: center;
    .slider-dot {
      width: 15px;
      height: 15px;
      background-color: $primary;
      border-radius: 50px;
      margin: 0 5px 0 5px;
      cursor: pointer;
    }
    .slider-dot.on {
      background-color: #f9be4e;
    }
  }
}

// 0 to large display
@media (max-width: 1919px) {
  .card.mirror {
    display: none;
  }
}
