.content {
  margin-top: 8vh;
  margin-right: 3.1rem;
  .profil-picture {
    width: 80%;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slider {
    margin-top: -15px;
    display: flex;
    justify-content: flex-end;
    .slider-dot {
      width: 25px;
      height: 8px;
      background-color: #33267c;
      border-radius: 50px;
      margin: 0 5px 0 5px;
      cursor: pointer;
    }
    .slider-dot.on {
      background-color: #a818ca;
    }
  }
}


